# Creek Minimal Boot Init
import /vendor/etc/init/hw/init.qti.display_boot.rc
import /vendor/etc/init/init.vendor.sensors.rc

on early-init
    # Set log level high for debugging
    loglevel 7
    start ueventd

on init
    # Generic Android environment setup
    export PATH /product/bin:/apex/com.android.runtime/bin:/system/bin:/system/xbin:/vendor/bin:/vendor/xbin
    export ANDROID_BOOTLOGO 1
    export ANDROID_ROOT /system
    export ANDROID_ASSETS /system/app
    export ANDROID_DATA /data
    export EXTERNAL_STORAGE /sdcard

on fs
    # This triggers the mounting of partitions defined in your fstab.default
    mount_all /vendor/etc/fstab.default --early

on post-fs-data
    # Required for logd to start writing to /data
    mkdir /data/log 0770 root log
    start logd

on boot
    start servicemanager
    start vold
    # Try to get the boot animation rolling
    setprop debug.sf.nobootanimation 0
    start bootanim